 body{
     background-color: aliceblue;
     text-align: center;
     font-size: 20px;

 }
#date{

/* text-align: center; */
letter-spacing: 0.2em;
padding: 40px;
margin-left: 200px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.container{
    
    display: grid;
    margin: 0px auto;
    padding: 20px;
    height: 20px;
    width: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1em);
    grid-gap: 2em;
    grid-auto-rows: 1em;
    border: 5px thin black;
    
    

}
#one{
    
}
